.first
{
    flex-direction: column;
    border: none;
}
.o1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.o2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.o3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.o4
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.second
{
    flex-direction: column;
    border: none;
}
.o5
{
   
    margin-left: 200px;
    margin-right: 200px;
    
}
.o6
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.o7
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.o8
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}