*
{
    margin: 0;
    padding: 0;
}
#navbar
{
    display: flex;
    align-items: center;
}
#logo
{
    margin: 10px 25px;
}
.foodie
{
    border-radius: 50%;
    width: 50px;
}
#navbar
{
    position: relative;
}
#navbar ul
{
    display: flex;
}
#navbar::before
{
    content: "";
    background-color: rgb(240, 3, 3);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

}
#navbar ul li
{
    list-style: none;
    font-size: 1.3em;
    
}
#navbar ul li a
{
    color: white;
    display: block;
    padding: 4px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover
{
    color: black;
    background-color: white;
}
.slide
{
    
    width: 45%;
    left: 25%;
    margin-top: 3em;
    margin-bottom: 2em;
    position: relative;
    
    
}
h3
{
    color: rgb(238, 3, 3);
    font-family: fantasy;
}
.grey-container
{
    background-color:rgb(247, 239, 239);
    
}
.scroll
{
    width: 5%;
    left: 48%;
    margin-top: 20px;
    animation: move 1.5s infinite;
    position: relative;
}
#location-pins
{
    animation: bob 0.8s infinite;
    transform-origin: center;
}
@keyframes bob 
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-1%);
    }
    100%
    {
        transform: translateY(0);
    }
}
@keyframes move
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-20%);
    }
    100%
    {
        transform: translateY(0);
    }
}
#menu
{
    display: flex;
    justify-content: space-around;
    
}
#menu .box1
{
    border: 2px solid purple;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    background-color: rgb(253, 238, 238);
    justify-content: center;
    text-align: center;
    transition: 2s;
}
#menu .box1:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
#menu .box1 img
{
    display: block;
    margin: auto;
}
#menu .box2
{
    border: 2px solid purple;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    background-color: rgb(253, 238, 238);
    justify-content: center;
    text-align: center;
    transition: 2s;
}
#menu .box2:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
#menu .box2 img
{
    display: block;
    margin: auto;
}
#menu .box3
{
    border: 2px solid purple;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    background-color: rgb(253, 238, 238);
    justify-content: center;
    text-align: center;
    transition: 2s;
}
#menu .box3:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
#menu .box3 img
{
    display: block;
    margin: auto;
}
#menu .box4
{
    border: 2px solid purple;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    background-color: rgb(253, 238, 238);
    justify-content: center;
    text-align: center;
    transition: 2s;
	
}
#menu .box4:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
#menu .box4 img
{
    display: block;
    margin: auto;
}
.service-container .ser1 
{
    border: 2px solid red;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    width:300px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 15px rgb(243, 38, 38);

}
.service-container .ser1 p
{
    font-family: cursive;
}
.service-container .ser1:hover
{
    transform: scale(1.07);
    background-color: rgb(240, 94, 240); 
    color: black; 
    font-weight: bold;  
}
.service-container .ser2 
{
    border: 2px solid red;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    width:300px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 15px rgb(243, 38, 38);

}
.service-container .ser2 p
{
    font-family: cursive;
}
.service-container .ser2:hover
{
    transform: scale(1.07);
    background-color: rgb(240, 94, 240);  
    color: black; 
    font-weight: bold;
}
.service-container .ser3 
{
    border: 2px solid red;
    padding: 20px;
    margin: 3px 6px;
    border-radius: 28px;
    margin-bottom: 30px;
    width:300px;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 15px rgb(243, 38, 38);

}
.service-container .ser3 p
{
    font-family: cursive;
}
.service-container .ser3:hover
{
    transform: scale(1.07);
    background-color: rgb(240, 94, 240);   
    color: black; 
    font-weight: bold;
}
h1
{
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
h5
{
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 0px 0px 0 rgb(236, 128, 109),
                 1px 1px 0 rgb(236, 78, 196),
                 2px 2px 0 rgb(228, 34, 28);
}
    
.btn
{
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    background-color: red;
    color: black;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    border: solid black;
    
}
.btn:hover
{
    background-color: rgb(241, 144, 241);
    
}
h3
{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.service-container1
{
    
    background-color: black;
    color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.service-container
{
    display: flex;
    justify-content: space-around;
}
h2
{
    text-align: center;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4
{
    font-size: 1.5rem;
}
.footer-container
{
    background-color: black;
    color: white;
    text-align: center;
}
.footer-container p1
{
    font-weight: bold;
    font-size: 1.5rem;
   
}
hr
{
    width: 20%;
    left: 40%;
    position: relative;
    margin-bottom: 10px;
}