.first
{
    flex-direction: column;
    border: none;
}
.m1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.m2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.m3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.m4
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.second
{
    flex-direction: column;
    border: none;
}
.m5
{
   
    margin-left: 200px;
    margin-right: 200px;
    
}
.m6
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.m7
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.m8
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.third
{
    flex-direction: column;
    border: none;
}
.c1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.c2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  
}
.c3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.c4
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.fourth
{
    flex-direction: column;
    border: none;
}
.c5
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.c6
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  
}
.c7
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.c8
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.fifth
{
    flex-direction: column;
    border: none;
}
.r1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.r2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  
}
.r3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.r4
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.sixth
{
    flex-direction: column;
    border: none;
}
.ri1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.ri2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  
}
.ri3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.r14
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}