.first
{
    flex-direction: column;
    border: none;
}
.s1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.s3
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.s4
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.s5
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.second
{
    flex-direction: column;
    border: none;
}
.s6
{
   
    margin-left: 200px;
    margin-right: 200px;
    
}
.s7
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.s8
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.s9
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.third
{
    flex-direction: column;
    border: none;
}
.s10
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.s11
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  
}
.s12
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.s13
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.fourth
{
    flex-direction: column;
    border: none;
}
.n1
{
    
    margin-left: 200px;
    margin-right: 200px;
   
}
.n2
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.n3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.n4
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.fifth
{
    flex-direction: column;
    border: none;
}
.n5
{
    
    margin-left: 200px;
    margin-right: 200px;
   
}
.n6
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.n7
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.n8
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.sixth
{
    flex-direction: column;
    border: none;
}
.p1
{
   
    margin-left: 200px;
    margin-right: 200px;
    
}
.p2
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.p3
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.p4
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
