*
{
    margin: 0;
    padding: 0;
}
#navbar
{
    display: flex;
    align-items: center;
}
#logo
{
    margin: 10px 25px;
}
.foodie
{
    border-radius: 50%;
    width: 50px;
}
#navbar
{
    position: relative;
}
#navbar ul
{
    display: flex;
}
#navbar::before
{
    content: "";
    background-color: rgb(240, 3, 3);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

}
#navbar ul li
{
    list-style: none;
    font-size: 1.3em;
    
}
#navbar ul li a
{
    color: white;
    display: block;
    padding: 4px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover
{
    color: black;
    background-color: white;
}
h1
{
    text-align: center;
    text-shadow: 0px 0px 0 rgb(236, 128, 109),
                 1px 1px 0 rgb(236, 78, 196),
                 2px 2px 0 rgb(228, 34, 28);
    font-family: fantasy;
    font-size: 50px;
    
}
h4
{
    color: red;
    font-size: 25px;
    font-family: cursive;
}
.snack-container
{
    
    
    border: solid purple;
    padding: 10px;
    border-radius: 20px;
}
.first
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 10px;
    
    padding: 10px;
    border-radius: 20px;
}
.second
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.third
{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.fourth
{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.fifth
{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.sixth
{
    display: flex;
    justify-content: space-around;
    text-align: center;
   
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.s1
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s1:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s3
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s3:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s4
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s4:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s5
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s5:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s6
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s6:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s7
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s7:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s8
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s8:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s9
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s9:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s10
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s10:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s11
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s11:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s12
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s12:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.s13
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.s13:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n1
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n1:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n2
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n2:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n3
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n3:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n4
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n4:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n5
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n5:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n6
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n6:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n7
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n7:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.n8
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.n8:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.p1
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.p1:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.p2
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.p2:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.p3
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.p3:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.p4
{
    border: solid purple;
    padding: 10px;
    transition: 2s;
    border-radius: 25px;
}
.p4:hover 
{
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgb(230, 62, 160);
}
.footer-container
{
    background-color: black;
    color: white;
    text-align: center;
}
.footer-container p1
{
    font-weight: bold;
    font-size: 1.5rem;
}
hr
{
    width: 20%;
    left: 40%;
    position: relative;
    margin-bottom: 10px;
}