.first
{
    flex-direction: column;
    border: none;
}
.t1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.t2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.t3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.t4
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.second
{
    flex-direction: column;
    border: none;
}
.t5
{
   
    margin-left: 200px;
    margin-right: 200px;
    
}
.t6
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.t7
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}
.t8
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.third
{
    flex-direction: column;
    border: none;
}
.i1
{
    
    margin-left: 200px;
    margin-right: 200px;
    
}
.i2
{
   
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
  
}
.i3
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
   
}
.i4
{
    
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    
}